.container {
	margin: 0 auto;
	max-width: 1440px;
}

.imagewrapper {
	display: flex;
	justify-content: center;
	margin: 30px 0 50px 0;
}
.profile {
	border-radius: 9999px;
}
.title {
	text-align: center;
	font-size: 1.2em;
	color: #ccc;
}
.bloglists {
	margin-top: 50px;
}
.blog {
	width: 400px;
	cursor: pointer;
	margin: 20px auto;
	padding: 16px 18px;
	border-radius: 0.8em;
	background-color: #222;
	color: #ddd;
}
.blogWrapper {
	margin: 0 auto;
	width: 400px;
}
.mdTitle {
	margin-bottom: 10px;
}
.tagWrapper {
	display: flex;
	justify-content: end;
}
.tag {
	display: inline-block;
	font-size: 0.8em;
	padding: 4px 8px;
	background-color: rgba(43, 174, 252, 0.3);
	margin-right: 8px;
	border-radius: 0.7em;
}
